$backgroundCollor: rgb(255, 255, 255);
$letterCollor: rgb(0, 0, 0);
$ActiveLetterCollor: navy;


.super_button,.home_hero a{
    background-color: $ActiveLetterCollor;
    color: $backgroundCollor;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
.home_shuffle{
    h1{
        margin-bottom: 10px;
    }
    margin: 5vh 5vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .carussel{
        display: block;
        width: 100%;
        height: 80%;
    }
    .super_button {
        border-radius: 20px;
        margin-top: 1rem;
        padding: 1.5rem 2rem;
        &:hover{
            scale: 1.1;
        }
      }
}